* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.body {
  font-family: "Poppins", sans-serif;
  height: auto;
}

.header_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0px auto;
  background-color: #e0933e;
  padding: 1rem 0;
  z-index: 5;
}
.header_items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 20px;
  padding: 2rem;
  width: 70%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.header_items_min {
  position: fixed;
  left: -650px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  font-size: 2rem;
  list-style-type: none;
  font-size: 15px;
  padding: 1rem 2rem;
  margin-left: -40px;

  background-color: #925bf8;
  box-shadow: 7px 7px rgb(104, 100, 100);
  border-radius: 20px;
  width: 70%;
  transition: left 1.2s ease-in-out;
}
.header_items_min.active {
  left: 0;
}

.header_link {
  color: white;
  margin: 0 1rem;
  padding: 0 2rem;
}
.header_items :hover {
  color: chartreuse;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 1rem;
  transition: all 0.4s ease;
}
.header_items_min :hover {
  color: chartreuse;
  font-size: 20px;
  font-weight: bold;
  text-underline-offset: 1rem;
  transition: all 0.4s ease;
}
#hamburger {
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  margin: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.section {
  background: url("img/Screenshot\ 2024-06-13\ 012334.jpg") no-repeat; /*center   */
  background-size: cover;
  padding: 15rem;
}
.section-flex {
  display: flex;
  flex-direction: column;
  background-color: slateblue;
  border-radius: 20px;
  padding: 10vh 5%;
}
.section-info {
  flex: 60%;
  padding-top: 40px;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  /* text responsive styles*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}
.container-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  font-size: 30px;
  box-shadow: 7px 7px rgb(92, 89, 89);
}
.item-text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.about-me {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  color: white;

  /*using grid
  color: white;  
  display: grid;
  grid-template-columns: 50%; */

  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 4rem 0;
  flex-wrap: nowrap;
  /* background-color: aqua; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.item-icon-container {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 3rem;
  color: #e0933e;
}
.item-icon {
  background-color: gray;
  padding: 2rem;
  border-radius: 1rem;
}
.item-icon:hover {
  background-color: rgb(128, 204, 52);
  font-size: 4rem;
  transition: all 0.4s ease;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
  padding: 30px;
  width: 100%;
}

.svg-icons {
  display: flex;

  justify-content: space-around;
  font-size: 3rem;
}
.svg-icons a {
  margin: 0 2rem;
}
.svg-icons :hover {
  color: rgb(59, 19, 97);
}

.contact {
  color: chartreuse;
  padding: 10px 28px;
  background-color: rgb(218, 228, 88);
  color: black;
  border: 5px solid transparent;
  border-radius: 8px;
  font-size: 20px;

  box-shadow: 4px 4px rgb(92, 89, 89);
}
.contact:hover {
  background-color: chartreuse;
  color: darkorange;
  text-shadow: 1px 1px #ff0000;
  font-size: 30px;
  transition: all 0.4s ease;
}
.contact:active {
  background-color: rgb(136, 135, 143);
  box-shadow: none;
}

@media screen and (max-width: 200px) {
  body {
    width: 200px;
  }
}

/* telefon */
@media screen and (max-width: 767px) {
  /* .header_items {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    font-size: 15px;
    padding: 0.2rem;
  } */
  .section {
    padding: 7rem;
    display: block;
    flex-direction: column;
  }
  .section-info {
    display: block;
    flex-direction: column;
    font-size: 20px;
  }
  .avatar-img {
    width: 100px;
    height: 100px;
  }
  .item-text {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container-item {
    width: 60%;
  }
  .item-icon {
    font-size: 2rem;
    padding: 1rem;
  }
  .item-icon:hover {
    font-size: 2rem;
  }
  .svg-icons {
    font-size: 1rem;
  }
  .contact {
    padding: 5px 10px;
    font-size: 10px;
  }
  .contact:hover {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  #hamburger {
    display: none;
  }
  .header_items_min {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header_items {
    display: none;
  }
  .header_container {
    display: flex;
    justify-content: flex-end;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* .header_items {
    flex-direction: row;
  } */
}

/* desktop */
@media screen and (max-width: 1200px) {
  /* .header_items {
    flex-direction: row;
  } */
}

#popover {
  position: absolute;
  margin-left: calc(50% - 150px);
  margin-top: 200px;
  height: 300px;
  width: 300px;
  background-color: #ff0000;
  z-index: 2;
  display: none;
}
