* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  height: auto;
}

.header {
  padding: 30px 8%;
  background: rgb(119, 113, 103);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: 500;
  font-size: 40px;
  color: white;
  transition: 0.3s ease;
}
.name:hover {
  color: red;
  font-style: italic;
}
.navbar a {
  font-size: 30;
  color: white;
  font-weight: bold;
  margin: 0 20px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar a:hover {
  color: chartreuse;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.navbar a:active {
  color: rgb(236, 222, 17);
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.section-bg {
  background: url("img/Screenshot\ 2024-06-03\ 182628.jpg") no-repeat; /*center   */
  background-size: cover;
  padding: 10vh 20vh;
}

.section-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: slateblue;
  border-radius: 20px;
  padding: 10vh 15vh;
  width: auto;
}
.section-info {
  color: white;
  /* background-color: aqua; */
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.about {
  padding-top: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-img {
  border-radius: 50%;
  width: 250px;
  height: 200px;
}

.futer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
  padding: 30px;
  width: 100%;
}

.svg-icons {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.contact {
  color: chartreuse;
  padding: 10px 28px;
  background-color: rgb(218, 228, 88);
  color: black;
  border: 5px solid transparent;
  border-radius: 8px;
  font-size: 20px;
}
.contact:hover {
  background-color: chartreuse;
  color: darkorange;
  text-shadow: 1px 1px #ff0000;
}
.contact:active {
  background-color: rgb(136, 135, 143);
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .section-grid {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .section-grid {
    display: block;
  }
  .section-info {
    display: block;
    flex-direction: column;
    font-size: 20px;
  }
  .name {
    font-size: 20px;
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    font-size: 10px;
  }
  .contact {
    padding: 5px 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
}
