* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

select,
.textbutton {
  width: 150px;
  height: 50px;
}

/* ///////////////////// */

.headerPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
}

body {
  padding: 20px 40px 40px 40px;
  background: url(https://cdn.pixabay.com/photo/2021/10/22/00/59/restaurant-6730811__340.jpg)
      right 25% no-repeat,
    url(https://cdn.pixabay.com/photo/2021/10/06/15/05/bedroom-6686061__340.jpg)
      300px 250px no-repeat;
  background-size: 40%, 70%;
  background-color: #78d4e1;
}

.textbutton {
  margin: 10px 40px 0px 0px;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
}
.textbutton:hover {
  background-color: #34de1f;
}
.textbutton:active {
  color: yellow;
}

select {
  margin: 10px 40px 0px 0px;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
}
select:hover {
  background-color: #34de1f;
}

.text_2 {
  border-radius: 20px;
  width: 50px;
}

.text_1 {
  margin: 10px;
  border-radius: 20px;
  width: 50px;
  box-shadow: 4px 4px black;
  font-size: 20px;
  width: 100px;
}

.block_wohnung {
  font-family: cursive;
  margin: 90px 0 0px 0px;
  font-size: 60px;
  color: yellow;
  text-transform: uppercase;
}
.block_wohnung .traumwohnung_translate:hover {
  font-size: 100px;
  transition-duration: 1s;
  color: green;
  transform: translate(250px, 50px);
}
.block_wohnung .list li {
  transition-duration: 1s;
  transition: color 1s ease-in-out 2s padding 4s;
  font-size: 30px;
  line-height: 80px;
}
.block_wohnung .list li:hover {
  color: green;
  padding: 0px 80px;
  font-size: 50px;
}
.block_wohnung .list li:active {
  color: black;
}
.block_wohnung .list li:first-child {
  margin: 100px 0 0 0;
}
.block_wohnung .list li:last-child {
  margin: 100px 0 0 0;
  color: green;
}
.block_wohnung .list li:last-child:hover {
  color: yellow;
}
.block_wohnung .list li:last-child:active {
  color: black;
}

/*@keyframes circle{
	0%{
		left: 0px;
	}
	100%{
		left: 300px;
	}
}
*/
